
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $base-color;

    &__header {
        width: 80%;
        padding: 3em;
    }
    &__main {
        display: flex;
        width: 100%;
        &__content {
            background-color: white;
            flex: 2;
        }
        &__sidebar {
            background-color: black;
            flex: 1;
        }
    }
}