

.signin {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: $base-color;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    text-align: center;
    h1 {
        color: white;
        padding: 2rem;
    }

    button {
        background-color: white;
        padding: 2rem 2rem;
        outline: none;
        border: none;
        border-radius: .5rem;
        font-size: 1rem;

        &:hover {
            cursor: pointer;
            background-color: $primary-color;
        }
        
    }
  }

.signin .inputbox {
    position: relative;
}
.signin .inputbox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: $secondary-color;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid $secondary-color;
    outline: none;
    background: transparent;
}

.signin .inputbox label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: $secondary-color;
    pointer-events: none;
    transition: .5s;
}

.signin .inputbox input:focus ~ label{
  top: -20px;
  left: 0px;
  color: $secondary-color;
  font-size: 12px;
}

