
.book {
    border: 2px solid black;
    width: 60%;
    padding: .9em;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    * {
        margin-bottom: .5rem;
    }
    &__characters {
        display: flex;
        * {
            margin-right: 1rem;
        }
    }
}