

.quote {
    font-size: .9rem;
    color: $base-color;

    &__text {
        padding: 1rem;
        font-size: 1rem;
    }

    &__author {
        margin: .5rem;
        font-size: 1.1rem;
    }
    &__book {
        margin : .5rem;
        font-size: 1rem;
    }

}