form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
form input {
    width: 60%;
    height: 3em;
    margin: .3rem;
    border: none;
    border-bottom: 2px solid rgb(131, 112, 216);
    outline: none;
    text-align: center;
    transition: all .6s;
    font-size: 1.1rem;
    font-weight: 600;
}
form button {
    margin-top: 1rem;
    padding: .6rem;
    border: none;
    outline: none;
    background: rgb(16, 44, 122);
    color: white;
    transition: all .5s;
    text-transform: uppercase;
}
form button:hover {
    cursor: pointer;
    transform: scale(1.02);
}
form input:focus {
    border-bottom: 3px solid rgb(29, 52, 151);
}

.thoughts {
    height: 10em;
    text-transform: inherit;
}