
.error {
    color: red;
    font-size: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.form input {
    width: 60%;
    height: 3em;
    margin: .3rem;
    border: none;
    border-bottom: 3px solid rgb(131, 112, 216);
    outline: none;
    transition: all .6s;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 2rem;
}
.form button {
    margin-top: 1rem;
    padding: .4rem;
    font-weight: 800;
    background:transparent;
    text-transform: uppercase;
    transition: ease-in-out .5s;
}
.form button:hover {
    cursor: pointer;
    transform: scale(1.04);
}
.form input:focus {
    border-bottom: 3px solid rgb(29, 52, 151);
}

.form textarea{
    resize: none;
    width: 60%;
    height: 20vh;
    font-family: inherit;
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    line-height: 1.2rem;
    outline: none;
    border-bottom: 2px solid rgb(131, 112, 216);

}
form textarea:focus {
    border-bottom: 3px solid rgb(29, 52, 151);
}

::placeholder {
    font-weight: 300;
}