

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    background-color: white;
    margin: 5rem;
    border-radius: 1rem;
}

.error {
    color: red;
    font-size: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.form input {
    width: 40%;
    height: 2rem;
    margin: .3rem;
    border: none;
    border-bottom: 3px solid rgb(131, 112, 216);
    outline: none;
    transition: all .6s;
    font-size: 1.3rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
}
.form button {
    margin-top: 1rem;
    padding: .4rem;
    font-weight: 600;
    background:transparent;
    text-transform: uppercase;
    transition: ease-in-out .5s;
}
.form button:hover {
    cursor: pointer;
    transform: scale(1.04);
}
.form input:focus {
    border-bottom: 3px solid rgb(29, 52, 151);
}

.form textarea{
    resize: none;
    width: 40%;
    height: 20vh;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    line-height: 1.2rem;
    outline: none;
    border-bottom: 2px solid rgb(131, 112, 216);

}
form textarea:focus {
    border-bottom: 3px solid rgb(29, 52, 151);
}


blockquote {
    line-height: 2em;
}

blockquote:before {
  content: open-quote;
}

blockquote:after {
  content: close-quote;
}

blockquote:before,
blockquote:after {
  display: inline-block;
  vertical-align: bottom;
  color: black;
  font-size: 3em;
  top: .3em;
  position: relative;
}

    .quote-wrapper{
        font-size: 0.8rem;
    }

.author {
    color: rgb(107, 15, 15);
}
.booki {
    color: red;
}
