@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url(./assets/background-big.svg);
}

footer {
    height: 8vh;
    width: 100%;
    background-color: rgb(72, 72, 156);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 2rem;
}