
.header {
    height: 4em;
    width: 100%;
    background-color: $secondary-color;
    display: flex;
    justify-content: start;
    align-items: center;
    &__items {
        width: 100%;
        a {
            text-decoration: none;
            color: $base-color;
            margin-right: 2rem;
        }
        display: flex;
        justify-content: space-around;
        &__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                color: $tertiary-color;
                font-weight: 300;
            }
        }
        &__nav {
            display: flex;
            align-items: center;
            color: $base-color;
        }
        &__user {
            display: flex;
            align-items: center;
            color: $base-color;
        }

    }
}